* {
  margin: 0;
  padding: 0;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}

.App {
  /* text-align: center; */
}

.home {
  position: relative;
}

/* MAIN PAGE */

.header-title {
  width: 100%;
  height: 70px;
  background-color: aquamarine;
  display: flex;
  align-items: center;
  justify-content: center;
  top: 0;
  z-index: 9999;
  position: fixed;
}

.open-search {
  position: fixed;
  right: 25px;
  bottom: 25px;
}

.link-add {
  display: block;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background: #2e7d32;
  background-image: url("./icons/add.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 28px;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
  font-size: 0;
  outline: 0;
}

.link-add:hover {
  background-color: rgb(0, 102, 0);
}

.list-books {
  margin: 80px 50px 20px 50px;
}

.books-category {
  /* background-color: pink; */
  padding: 10px;
}

.title-category {
  padding: 10px;
  margin: 10px;
  border-bottom-style: solid;
  border-width: 2px;
  border-color: gray;
}

.books-card {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-bottom: 10px;
}

.book-card {
  display: flex;
  flex-direction: column;
  width: 150px;
  /* background-color: pink; */
  margin: 30px 20px;
  position: relative;
}

.img-wrap {
  width: 150px;
  height: 220px;
  margin-bottom: 20px;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
  background: #eee;
}

.image {
  width: 100%;
  height: 100%;
}

.title-book {
  font-size: 0.9rem;
  margin-bottom: 5px;
}

.authors-book {
  font-size: 0.8rem;
  color: gray;
}

.book-shelf-changer {
  position: absolute;
  right: 0;
  top: 190px;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background: #60ac5d;
  background-image: url("./icons/arrow-drop-down.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 20px;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
}

.book-shelf-changer select {
  width: 100%;
  height: 100%;
  opacity: 0;
  cursor: pointer;
}

/* SEARCH PAGE */

.search-books-bar {
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 5;
  display: flex;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 0 6px rgba(0, 0, 0, 0.23);
}

.search-books-input-wrapper {
  flex: 1;
  background: #e9e;
}

.search-books-bar input {
  width: 100%;
  padding: 15px 10px;
  font-size: 1.25em;
  border: none;
  outline: none;
}

.close-search {
  display: block;
  top: 20px;
  left: 15px;
  width: 50px;
  height: 53px;
  background-image: url("./icons/arrow-back.svg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: 28px;
  font-size: 0;
  border: none;
  outline: none;
}

.search-books-results {
  padding: 80px 10px 20px;
}
